.container {
  text-align: center;
}

.title {
  font-size: 3.5rem;
  font-weight: bolder;
  margin-bottom: 1.5rem;
  color: #07080a;
  line-height: 1.2;
}

.description {
  max-width: 42rem;
  margin: 0 auto 2.5rem;
  color: #060709;
  font-size: 1.25rem;
  line-height: 1.6;
  font-weight: bold;
}

.button {
  display: inline-block;
  background-color: #1d4ed8;
  color: white;
  padding: 0.875rem 2rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: bolder;
  transition: background-color 0.2s, transform 0.2s;
  margin-bottom: 3rem;
}

.button:hover {
  background-color: #1e40af;
  transform: translateY(-2px);
}

.button:active {
  background-color: #1e3a8a;
  transform: translateY(0);
}

.heroImage {
  margin: 0 auto;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  width: 100%;
  .heroImage {
  max-width: 94rem; 
}

  display: block;
}

@media (max-width: 768px) {
  .title {
    font-size: 2.5rem;
  }

  .description {
    font-size: 1.125rem;
  }

  .button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
  }
}
