.footer {
  background-color: #1d4ed8;
  color: white;
  margin-top: 2rem;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

